body, html {
  height: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
#main p, .board-item p {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 24px;
}
#main ul {
  list-style-type: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 24px;
}
#board {
  padding-left: 0px;
  padding-right: 0px;
  height: 100%;
  background-color:#ecf0f1;
}
.board-item {
  height: 100%;
  margin-bottom: 0;
  color: #FFF;
}
#main {
  background-color: #95a5a6;
  height: 100%;
  color: #FFF;
  position: relative;
}
#story {
  background-color: #c0392b;
  animation-name: slidein;
  animation-duration: 1.5s;
}
#portfolio {
  background-color: #3498db;
  animation-name: slidein;
  animation-duration: 1.75s;
}
#blog {
  background-color: #1abc9c;
  animation-name: slidein;
  animation-duration: 2.25s;
}
#skills {
  background-color: #2c3e50;
  animation-name: slidein;
  animation-duration: 2.75s;
}
#content {
  overflow: auto;
  height: 100%;
}
#full {
  height: 100%;
}
#mypic {
  box-shadow: 8px 5px 5px gray;
}
@keyframes slidein {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 25%;
    opacity: 1;
  }
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.img-center {
  margin-left: auto;
  margin-right: auto;
}
.container-fluid {
  height: 100%;
}
.story-pic {
  margin-top: 20px;
}
.port-tile {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}
.port-tile img {
  position: absolute;
  width: 100%
}
.img-app {
  border-radius: 35px;
}
.no-margin {
  margin-bottom: 0px;
}
