* {
  font-family: 'Century Gothic', 'Didact Gothic', sans-serif;;
}
html, body {
  height: 100%;
  overflow-x: hidden;
  background-color:#ecf0f1;
}

#main {
  background-color: #272F3B;
  color: #FFF;
  position: relative;
}

#main-content {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
}

#board {
  padding-left: 0px;
  padding-right: 0px;
}

.full-height {
  height: 100%;
}

.link-icon {
  margin: 0 10px;
}
